
.container {
	text-align: center;
}

.title {
	color: #B397FF;
	font-size: 10vw;
	font-weight: 900;

}

.btn-secondary{
	background-color: #B397FF;
	border-color: #9872EC;
	border-radius: none;
}
.btn:active {
	background-color: #9872EC;
}

@media screen and (max-width: 800px){
	.title {

	font-size: 20vw;
	

}
}