@font-face {
font-family: 'Sofia Pro Semibold';
src: url('../components/SofiaProSemiBold.woff') format('woff');
font-weight: normal;
font-style: normal;
}


.btn-secondary:hover {
	background-color: #C5B1FC !important;
}

.btn-secondary:active {
	border:none;

}

.navbar a {
	font-family: Sofia Pro Semibold;
}



@media only screen and (max-width: 750px) {
 	.navbar-collapse a {
	font-size: 1.3em;
	font-weight: 600;
	}
	.navbar-collapse li {
		text-align: center;
		margin-bottom: 5px;
	}


	.btn-secondary {
		margin-left: 10px;
	}

	.navbar-collapse{
	height: 100vh;
	font-size: 1.5em;

}
.navbar-nav {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);

}


}